{% extends "base.html" %}


{% block contenido %}


<h1 class="mb-4">
Editar Libro
</h1>



<div class="card p-4">


<form action="/libros/actualizar" method="POST">


<input type="hidden"
name="id"
value="{{libro.id}}">



<label>Título</label>

<input 
class="form-control mb-3"
name="titulo"
value="{{libro.titulo}}">



<label>Autor</label>

<input 
class="form-control mb-3"
name="autor"
value="{{libro.autor}}">



<label>Género</label>


<select class="form-control mb-3"
name="genero">


<option>
{{libro.genero}}
</option>

<option>
Novela
</option>

<option>
Fantasía
</option>

<option>
Ciencia ficción
</option>

<option>
Romance
</option>


</select>




<label>Fecha publicación</label>


<input 
class="form-control mb-3"
type="date"
name="fecha_publicacion"
value="{{libro.fecha_publicacion}}">





<label>Descripción</label>


<textarea
class="form-control mb-3"
name="descripcion">{{libro.descripcion}}</textarea>





<button class="btn btn-dark">

Actualizar

</button>


<a href="/libros"
class="btn btn-secondary">

Cancelar

</a>



</form>


</div>


{% endblock %}