{% extends "base.html" %}


{% block contenido %}


<h1>
Mis Libros Favoritos
</h1>



<table class="table table-bordered mt-4">


<tr>

<th>Título</th>

<th>Autor</th>

<th>Género</th>

<th>Fecha</th>

<th>Acción</th>


</tr>



{% for libro in libros %}


<tr>


<td>
{{libro.titulo}}
</td>


<td>
{{libro.autor}}
</td>



<td>
{{libro.genero}}
</td>



<td>
{{libro.fecha_publicacion}}
</td>



<td>

<a href="/libros/{{libro.id}}"
class="btn btn-primary btn-sm">

Ver

</a>


</td>



</tr>



{% endfor %}



</table>


{% endblock %}