<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - No Encontrado</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></head>
<body>

    <header>
    <h1><a href="/">Base de Datos <span>Pokédex</span></a></h1>
    </header>

    <main class="error-container">
    <h2>404</h2>
    <p>¡Vaya! El Pokémon o la página que buscas parece haber huido hacia la hierba alta.</p>
    <a href="/" class="search-btn" style="text-decoration: none; display: inline-block;">Regresar al Inicio</a>
    </main>

    <footer>
    <p>&copy; Pokédex App — Proyecto de Exploración Pokémon</p>
    </footer>

</body>
</html>