<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pokemon.name }} - Detalle Pokédex</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></head>
<body>

    <header>
    <h1><a href="/">Base de Datos <span>Pokédex</span></a></h1>
    </header>

    <main class="detail-container">
    <a href="/" class="btn-back">&larr; Volver al catálogo</a>

    <article class="detail-card">
        <div class="detail-image-box">
        <img src="{{ url_for('static', filename='img/' + pokemon.image) }}" alt="{{ pokemon.name }}">
        </div>

        <div class="detail-info">
        <span class="poke-id">#{{ "%03d"|format(pokemon.id) }}</span>
        <h2>{{ pokemon.name }}</h2>
        <span class="poke-type">{{ pokemon.type }}</span>

        <p class="description">{{ pokemon.description }}</p>

        <div class="metrics">
            <div class="metric-item">
            <span>Altura:</span>
            <strong>{{ pokemon.height }}</strong>
            </div>
            <div class="metric-item">
            <span>Peso:</span>
            <strong>{{ pokemon.weight }}</strong>
            </div>
        </div>

        <h3>Estadísticas Base</h3>
        <div class="stats-grid">
            <div class="stat-item"><span>PS:</span> <strong>{{ pokemon.stats.hp }}</strong></div>
            <div class="stat-item"><span>Ataque:</span> <strong>{{ pokemon.stats.attack }}</strong></div>
            <div class="stat-item"><span>Defensa:</span> <strong>{{ pokemon.stats.defense }}</strong></div>
            <div class="stat-item"><span>Velocidad:</span> <strong>{{ pokemon.stats.speed }}</strong></div>
        </div>
        </div>
    </article>
    </main>

    <footer>
        <p>&copy; Pokédex App — Proyecto de Exploración Pokémon</p>
    </footer>

</body>
</html>