<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="contenedor">

        <div class="registro">

            <h1>Registro</h1>

            {% if errores_registro %}
                <div class="errores">
                    {% for error in errores_registro %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <form action="/registro" method="POST">

                <div class="campo">
                    <label>Nombre</label>
                    <input type="text" name="nombre">
                </div>

                <div class="campo">
                    <label>Apellido</label>
                    <input type="text" name="apellido">
                </div>

                <div class="campo">
                    <label>E-mail</label>
                    <input type="email" name="email">
                </div>

                <div class="campo">
                    <label>Contraseña</label>
                    <input type="password" name="password">
                </div>

                <div class="campo">
                    <label>Conf. Contraseña</label>
                    <input type="password" name="confirmar">
                </div>

                <button type="submit">Registrar</button>

            </form>

        </div>


        <div class="login">

            <h1>Inicio de Sesión</h1>

            {% if errores_login %}
                <div class="errores">
                    {% for error in errores_login %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <form action="/login" method="POST">

                <div class="campo">
                    <label>E-mail</label>
                    <input type="email" name="email">
                </div>

                <div class="campo">
                    <label>Contraseña</label>
                    <input type="password" name="password">
                </div>

                <button type="submit">Iniciar Sesión</button>

            </form>

        </div>

    </div>

</body>

</html>